body,html{
  width: 100%;
  margin: 0;
  font: 14px/1 'Open Sans', Verdana, sans-serif;
}

.table-container{
    width: 100%;
    font-size: 0;

    &_search{
      font-size: 14px;
      padding: 10px;
      &_field{
        box-sizing: border-box;
        padding: 8px;
        border: 1px solid #efefef;
        outline: none;
        &:focus{
          border-color: #ccc;
        }
      }
      &_title{
        margin-right: 8px;
      }
    }

    &_item{
      font-size: 1rem;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      width: 33%;
      margin-bottom: 10px;

      &+.table-container_item{
        margin-left: -1px;
      }

      &_content{
        position: relative;
        &_row{
          padding: 10px;
          box-sizing: border-box;
          border-left: 1px solid #f1f1f1;
          border-right: 1px solid #f1f1f1;
          border-bottom: 1px solid #f1f1f1;
        }
      }
      &__other{
        padding-left: 10px;
      }
      &__sort{
        .table-container_item_title{
          position: relative;
          cursor: pointer;
          &:after{
            content: "";
            position: absolute;
            right: 15px;
            top: 15px;

            width: 0;
          	height: 0;

            border-left: 5px solid transparent;
          	border-right: 5px solid transparent;
          	border-bottom: 5px solid #000;

            transition: .2s linear transform;
          }
        }
        &.inverse{
          .table-container_item_title{
            &:after{
              transform: rotate(180deg);
            }
          }
        }
      }
      &_title{
        padding: 10px;
        background: #f1f1f1;
        user-select: none;
        cursor: default;
      }
    }
}


@media all and (max-width: 768px){
  .table-container{
    &_item{
      width: 50%;
      &__bp-full{
        padding: 0;
        width: 100%;
      }
    }
  }
}
