body,html{width:100%;margin:0;font:14px/1 'Open Sans',Verdana,sans-serif}
.table-container{width:100%;font-size:0}
.table-container_search{font-size:14px;padding:10px}
.table-container_search_field{box-sizing:border-box;padding:8px;border:1px solid #efefef;outline:0}
.table-container_search_field:focus{border-color:#ccc}
.table-container_search_title{margin-right:8px}
.table-container_item{font-size:1rem;display:inline-block;vertical-align:top;box-sizing:border-box;width:33%;margin-bottom:10px}
.table-container_item+.table-container_item{margin-left:-1px}
.table-container_item_content{position:relative}
.table-container_item_content_row{padding:10px;box-sizing:border-box;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1}
.table-container_item__other{padding-left:10px}
.table-container_item__sort .table-container_item_title{position:relative;cursor:pointer}
.table-container_item__sort .table-container_item_title:after{content:"";position:absolute;right:15px;top:15px;width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #000;-webkit-transition:.2s linear transform;transition:.2s linear transform}
.table-container_item__sort.inverse .table-container_item_title:after{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.table-container_item_title{padding:10px;background:#f1f1f1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default}
@media all and (max-width:768px){.table-container_item{width:50%}
.table-container_item__bp-full{padding:0;width:100%}
}